h1 {
    text-align: center;
}

.navbar {
    background-color: darkslateblue;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.nav-link:hover {
    color: lightsalmon;
    text-decoration: underline;
}

.disabled {
    color: white;
    font-weight: light;
    text-decoration: line-through;
}


/* CODE FORMATTING */
#code {
    overflow-wrap: break-word;
}
code .element {
    color: navy;
}

code .attribute {
    color: darkred;
}

code .value {
    color: darkorchid;
}